{% extends "AppSiteBundle::pagelayout.html.twig" %}
{% block content %}
    {% include 'AppSiteBundle::pagelayout/page_header.html.twig' %}
    {% include 'AppSiteBundle::pagelayout/page_navigation.html.twig' %}
    <section id="presentation" class="container-fluid bg-blue">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sm-push-6 wow text-center fadeInRight my-picture">
                {{ ez_render_field(content, 'image_bio') }}
            </div>
            <div class="col-md-6 col-sm-6 col-sm-pull-6 text-center black-color padding-tb wow fadeInLeft">
                <div class="black-title">{{ 'app.subtitle.me'|trans }}</div>
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    {{ ez_render_field(content, 'text_bio') }}
                </div>
            </div>
        </div>
    </section>
    {% if formules|length > 0 %}
        {% include 'AppSiteBundle::content/parts/services.html.twig' %}
    {% endif %}
    {% if works|length > 0 %}
        {% include 'AppSiteBundle::content/parts/works.html.twig' %}
    {% endif %}
    {% include 'AppSiteBundle::content/parts/contact.html.twig' %}
{% endblock %}