{% spaceless %}
    <div class="clearfix"></div>
    <footer>
        <div class="container">
            Lucas SIMONIN ©
            <span id="copyright-year">{{ "now"|date("Y") }}</span>
        </div>
    </footer>
{% endspaceless %}